<!DOCTYPE html>
<html>
    <head>
        <title>
           google authentication
        </title>
           <meta charset="utf-8"> 
        <meta name="viewport" content="width=device-width , initial-scale=1.0 , user-scalable=no" >
     
    </head>
    <body>
        <h2>Welcome</h2>
        <form method="post" action="/signup">
            <input type="submit" value="signup"><br><br>
        </form>
           <form method="post" action="/login">
            <input type="submit" value="login"><br><br>
        </form>
    </body>
</html>