<!DOCTYPE html>
<html>
    <head>
        <title>
           google authentication
        </title>
             <meta charset="utf-8"> 
        <meta name="viewport" content="width=device-width , initial-scale=1.0 , user-scalable=no" >
     
    </head>
    <body>
        <h2>Log-In</h2>
        <form method="post" action="/scancode">
            <input type="text" name="emailId" placeholder="enter email-id" autofocus><br><br>
            <input type="password" name="password" placeholder="enter password"><br><br>
            <button >submit</button>
        </form>
        <h2>{{status}}</h2>
    </body>
</html>