<!DOCTYPE html>
<html>
    <head>
        <title>
           google authentication
        </title>
        <style>

        </style>
    </head>
    <body>
      <p>{{status}}</p>
    </body>
</html>